<html>
<head>
    <title>IT Academy</title>
    <link rel="stylesheet" href="/css/styleFormation.css"/>
<body>
    <div class="container">

        <div class="itAcademy">
            <h1>IT Academy</h1>
        </div>
        
        <div class="availableFormations">
            <h2>Formations disponibles</h2>
        </div>

        <div class="redirectButtons">
            <form action="/formations/finalize">
                <button class="button">Finaliser l'inscription</button>
            </form>

            <form action="/formations">
                <button class="button">Retourner au catalogue de formation</button>
            </form>
        </div>
        
        <div class="formations">
            <table class="tab">

                <tbody>
                    <tr>
                        <td class="box">Id</td>
                        <td class="box">Nom</td>
                        <td class="box">Prix</td>
                        <td class="box">Début</td>
                        <td class="box">Fin</td>
                        <td class="box"></td>
                    </tr>
                    <% for (index=0 ; index<basket.length ; index++){%>
                    <tr>
                        <td class="box"><%=basket[index].id%></td>
                        <td class="box"><%=basket[index].name%></td>
                        <td class="box"><%=basket[index].price%></td>
                        <td class="box"><%=basket[index].start%></td>
                        <td class="box"><%=basket[index].end%></td>
                        <td class="box"><a href="/formation/delete/<%=index%>" class="button">Supprimer</a></td>
                    </tr>
                    <%}%>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>