<html>
<head>
    <title>IT Academy</title>
    <link rel="stylesheet" href="/css/styleFormation.css"/>
</head>
<body>
    <div class="container">
        <div class="itAcademy">
            <h1>IT Academy</h1>
        </div>

        <div class="availableFormations">
            <h2>Formations disponibles</h2>
        </div>

        <div class="redirectButtons">
            <form action="/formations/basket">
                <button class="button">Voir le panier</button>
            </form>

            <form action="/connection">
                <button class="button">Se connecter</button>
            </form>
        </div>

        <div class="formations">
            <table class="tab">
                <tbody>
                    <tr>
                        <td class="box">Id</td>
                        <td class="box">Nom</td>
                        <td class="box">Prix</td>
                        <td class="box">Début</td>
                        <td class="box">Fin</td>
                        <td class="box"></td>
                    </tr>

                    <% for (index=0 ; index<formations.length ; index++){%>

                    <tr>
                        <td class="box"><%=formations[index].id%></td>
                        <td class="box"><%=formations[index].name%></td>
                        <td class="box"><%=formations[index].price%></td>
                        <td class="box"><%=formations[index].start%></td>
                        <td class="box"><%=formations[index].end%></td>
                        <td class="box"><a href="/formation/add/<%=index%>" class="button">S'inscrire</a></td>
                    </tr>
                    <%}%>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>